* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --black: black;
  --ocean: #404bbf;
  --white: #ffffff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
}

button {
  border: unset;
  font-family: inherit;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.nav-logo {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  color: var(--navyblue);
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

.iris {
  color: var(--iris);
}

.nav {
  color: var(--navyblue);
}

.nav-list-item-link {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.address-list-item-link {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.nav-list-item-link:hover,
.address-list-item-link:hover {
  color: var(--ocean);
}

.hero {
  background-color: var(--navyblue);
  height: 600px;
  width: 1440px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
}

.hero-button {
  color: var(--white);
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--ocean);
}

.features-list-item-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.features-list-item-paragraph {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.what-are-we-doing-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.what-are-we-doing-list-item-img {
  width: 360px;
  height: 360px;
  border: 1px solid var(--cornflower);
  border-color: var(--cornflower);
}

.our-team {
  background-color: var(--cloud);
}

.our-team-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.our-team-item-list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.our-team-list-item-paragraph {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.our-team-item-list-img {
  width: 264px;
  height: 260px;
}

.filter-button-menu {
  text-align: center;
}

.filter-button-1,
.filter-button-2,
.filter-button-3,
.filter-button-4,
.filter-button-5 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  color: var(--iris);
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px;
  border-color: var(--cornflower);
  background: var(--cloud);
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
}

.filter-button-1:hover,
.filter-button-2:hover,
.filter-button-3:hover,
.filter-button-4:hover,
.filter-button-5:hover {
  background-color: var(--ocean);
  color: var(--cloud);
  border-color: var(--ocean);
}

.all-menu-item-list-img {
  width: 500px;
  height: 300px;
  background-color: var(--white);
  border: 1px;
  border-color: var(--cornflower);
}

.all-menu-item-list-title {
  font-size: 20px;
  color: var(--navyblue);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.all-menu-item-list-paragraph {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footer {
  background-color: var(--navyblue);
}

.footer-logo {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  color: var(--white);
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

.footer-paragraph {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
